# PYTHON-DATA STRUCTURE ASSIGNMENT THEORY QUESTIONS

1. What are data structures, and why are they important?

- Data structures are a way of organizing, storing, and managing data in a computer so that it can be accessed and used efficiently. They are important because choosing the right data structure for a task can significantly improve a program's performance and memory efficiency.

2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types are those whose state or contents can be changed after they are created.

  - Examples: Lists, dictionaries, and sets. You can add or remove elements from a list after its creation.


- Immutable data types are those that cannot be changed after they are created.

  - Examples: Strings, tuples, and integers. To change a string, you must create a new string object.

3. What are the main differences between lists and tuples in Python?

- The main differences are:

  - Mutability: Lists are mutable, meaning you can change their content. Tuples are immutable, so their content cannot be altered after creation.

  - Syntax: Lists are created with square brackets [], while tuples use parentheses ().

  - Performance: Tuples are generally more memory-efficient and slightly faster than lists because they are immutable.

4. Describe how dictionaries store data.

- Dictionaries store data as

key-value pairs. Each unique key maps to a specific value. This structure allows for fast data retrieval because you can look up a value directly using its key, rather than searching through the entire collection.

5. Why might you use a set instead of a list in Python?

You would use a set instead of a list when:

- You need to store only unique elements and automatically discard duplicates.

- You need to perform fast membership testing (checking if an element is present).

- You need to perform mathematical set operations like union, intersection, or difference.

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters used to store text. It is different from a list in a few key ways:

- Immutability: Strings are immutable, while lists are mutable.

- Homogeneity: Strings can only contain characters. Lists can contain a mix of different data types (e.g., numbers, strings, other lists).

7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This guarantees that the data remains constant throughout the program's execution, which is useful for protecting important data from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that maps keys to values using a hash function.
  
  - Python's dictionaries are implemented using hash tables.
  - When you add a key-value pair to a dictionary, Python uses a hash function to convert the key into a memory address where the value is stored.
  - This allows for very fast lookups, insertions, and deletions.

9. Can lists contain different data types in Python?

  - Yes, lists in Python are very flexible and can contain elements of different data types within the same list.
  - For example, my_list = [1, "hello", 3.14, True].

10. Explain why strings are immutable in Python.

 Strings are immutable in Python primarily for efficiency and security.
  - Efficiency: Since strings cannot be changed, the interpreter can optimize their storage and reuse them in different parts of the program (a concept called "interning").

  - Security: Because dictionaries use keys that must be hashable (and therefore immutable), using immutable strings as keys ensures the key's hash value never changes.

11. What advantages do dictionaries offer over lists for certain tasks?

 Dictionaries offer advantages over lists when data retrieval is based on a specific identifier or label rather than a numerical index.
  - Fast Lookups: Accessing a value by its key in a dictionary is much faster than searching for an element in a long list.

  - Readability: Using descriptive keys (e.g., 'name': 'Alice') makes the code more self-explanatory than using indices (e.g., person[0]).

12. Describe a scenario where using a tuple would be preferable over a list.

- A tuple is preferable when you have a collection of items that should not change.
  - For instance, storing the coordinates of a point, like (x, y), is a perfect use case for a tuple. The x and y values are fixed for that specific point, and making them immutable prevents accidental changes.

13. How do sets handle duplicate values in Python?

 Sets automatically enforce uniqueness. If you try to add a duplicate value to a set, it will simply be ignored. The set will only store one instance of each element.

14. How does the "in" keyword work differently for lists and dictionaries?

  - In a list, the in keyword checks for the presence of a value.
  - In a dictionary, the in keyword checks for the presence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.

  - No, you cannot modify the elements of a tuple.
  - Tuples are immutable, which means once they are created, their contents are fixed and cannot be changed.
  - Trying to do so will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?

 A nested dictionary is a dictionary that contains other dictionaries as values. A common use case is to store structured data, such as information about multiple users.

 Example:

In [1]:
users = {
    'user1': {'name': 'Alice', 'age': 30},
    'user2': {'name': 'Bob', 'age': 25}
}

17. Describe the time complexity of accessing elements in a dictionary.

  - The time complexity for accessing, inserting, or deleting elements in a dictionary is O(1) on average.
  - This means the operation takes a constant amount of time, regardless of the size of the dictionary, thanks to its hash table implementation.

18. In what situations are lists preferred over dictionaries?

 Lists are preferred over dictionaries when:

  - You have an ordered collection of items.
  - The order of elements matters, and you need to access them by their numerical position (index).
  - You need to store a simple sequence of items without needing key-based lookups.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Historically, dictionaries were considered unordered because their internal hash table implementation did not preserve the insertion order of elements.
  - Although since Python 3.7, dictionaries maintain insertion order, you should never rely on this order for data retrieval.
  - Data in dictionaries is meant to be retrieved by key, not by position, which is unaffected by order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - List: Data is retrieved using a numerical, zero-based index (e.g., my_list[0]).
  - Dictionary: Data is retrieved using a unique key (e.g., my_dict['name']).

# PRACTICAL QUESTIONS

In [2]:
#1. Write a code to create a string with your name and print it.

my_name = "KAJAL GUPTA"
print(my_name)

KAJAL GUPTA

In [4]:
#2. Write a code to find the length of the string "Hello World"

String = "Hello World"
print(len(String))

11

In [5]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
print(text[:3])

Pyt

In [6]:
#4. Write a code to convert the string "hello" to uppercase.

text = "hello"
print(text.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [12]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [13]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [15]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [16]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [17]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [18]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [19]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [20]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [21]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [22]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [24]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "Kajal Gupta",
    "age": 25,
    "city": "Noida"
}
print(my_dict)

{'name': 'Kajal Gupta', 'age': 25, 'city': 'Noida'}

In [25]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [27]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [28]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [29]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 'a', True]
my_tuple = (2, 'b', False)
my_dict = {'key': 'value'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 'a', True]
Tuple: (2, 'b', False)
Dictionary: {'key': 'value'}

In [30]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print(f"Original list: {random_numbers}")
random_numbers.sort()
print(f"Sorted list: {random_numbers}")

Original list: [52, 57, 8, 28, 72]
Sorted list: [8, 28, 52, 57, 72]

In [31]:
#28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date"]
print(my_list[2]) # Third element is at index 2

cherry

In [32]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
#30. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'cherry', 'apple', 'banana'}